<main class="main">
  <ng-container *ngFor="let category of categories">
    <div class="w-50 inline-block float-left h-50">
      <div class="flex flex-column center">
        <h4>
          {{ category.categoryName }}
          <sup>
            <span
              (click)="openDialog(category.categoryId)"
            >
              +
          </span>
          </sup>
        </h4>
        <app-card
          [categoryId]="category.categoryId"
          [cards]="category.cards"
        ></app-card>
      </div>
    </div>
  </ng-container>
</main>

<div class="overlay" *ngIf="selectedCategoryId" (click)="closeDialog()"></div>
<div
  *ngIf="selectedCategoryId"
  class="dialog"
>
  <form class="form" (submit)="onSubmit()">
    <div class="form-group">
      <textarea
        class="textarea"
        row="50"
        column="20"
        [(ngModel)]="categoryDescription"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </div>
    <div class="flex flex-row-right">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
